body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #e6f421;
}

nav {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links li a {
    color: white;
    text-decoration: none;
}

.search-box {
    display: flex;
}

.search-box input[type="text"] {
    padding: 8px;
    border: none;
    border-radius: 5px 0 0 5px;
}

.search-box button {
    padding: 8px 15px;
    background-color: #4CAF50;
    border: none;
    border-radius: 0 5px 5px 0;
    color: white;
    cursor: pointer;
}

.content {
    padding: 20px;
}
/* Hover berish*/
.nav-links li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease; /* Uchib ketish o'tish vaqtini belgilash */
}

.nav-links li a:hover {
    color: #4CAF50; /* Uchib ketish vaqtida rang o'zgaradi */
}
/* Section qismi */
.sexion {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
}

.content {
    margin-top: 20px;
}
